<!doctype html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Steam Games Top 10</title>
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body style="margin-left:50px">

<h1>Steam Games Top 10</h1>

<div>
	<table class="table-responsive table-striped table-bordered">
		<tr>
            <th>Rank</th>
            <th>Game Title</th>
        </tr>
	</table>
</div>

</body>